<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mobi.smartj.mapper.MessageMapper">
    <select id="select" resultType="mobi.smartj.model.Message">
        SELECT * FROM message WHERE 
        os = #{os} 
        AND #{appVersion} BETWEEN min_ver AND max_ver 
        AND team_id = #{teamId}
    </select>
</mapper>