<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mobi.smartj.mapper.ResultsMapper">
    <select id="select" resultType="mobi.smartj.model.GameResult">
        SELECT * FROM ${table} WHERE season= #{season} ORDER BY game_date1
    </select>
</mapper>