<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mobi.smartj.mapper.TeamMasterMapper">
    <select id="selectOne" resultType="mobi.smartj.model.TeamMaster">
        SELECT * FROM teamMaster WHERE team_id = #{0}
    </select>
</mapper>