<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mobi.smartj.mapper.TweetsMapper">
    <select id="select" resultType="mobi.smartj.model.Tweet">
		SELECT
			 tweet_id
			, user_name
			, user_screen_name
			, user_profile_image_url
			, tweet
			, retweeted_count
			, UNIX_TIMESTAMP(created_at) AS created_at
			 FROM ${table}
		<choose>
			<when test="maxId != 0">
				WHERE tweet_id &lt; #{maxId}	-- maxIdより古いツイートを読み込む
			</when>
			<when test="sinceId != 0">
				WHERE tweet_id > #{sinceId}	 -- sinceIdより新しいツイートを読み込む
			</when>
		</choose>
		ORDER BY created_at DESC LIMIT #{count};
    </select>
</mapper>